.register {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 4rem auto;
  align-items: center;
}
.input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  margin-top: 1rem !important;
  gap: 4px;
  width: auto !important;
  height: 76px;
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}
.label {
    width: auto !important;
  height: 28px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  display: flex;
  align-items: center;
  letter-spacing: -0.011em;
  color: #0e0e0e;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.names {
  display: flex;
  flex-direction: row;
}
.nameField {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 12px;
  gap: 10px;
  width: auto !important;
  height: 44px;
  background: #ffffff;
  border: 1px solid #bdbdbd;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.nameField .name {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 4px;
  width: auto !important;
  height: 28px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  border: none;
}
.register .emailField {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 12px;
  gap: 10px;
  width: auto !important;
  height: 44px;
  background: #ffffff;
  border: 1px solid #bdbdbd;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.register .emailField .email {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 4px;
  width: auto !important;
  height: 28px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  border: none;
}
.contactField {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 12px;
  gap: 10px;
  width: auto !important;
  height: 44px;
  background: #ffffff;
  border: 1px solid #bdbdbd;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.contactField .phoneNo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 4px;
  width: auto !important;
  height: 28px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  border: none;
}
.passes {
  display: flex;
  flex-direction: row;
}
.register .passField {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 12px;
  gap: 10px;
  width: auto !important;
  height: 44px;
  background: #ffffff;
  border: 1px solid #bdbdbd;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.register .passField .password {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 4px;
  width: auto !important;
  height: 28px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  border: none;
}
.LoginBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  width: 98px;
  height: 48px;
  flex: none;
  order: 6;
  flex-grow: 0;
}
.Loginbutton {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
  gap: 4px;
  width: 98px;
  border: none;
  background: #28b6fe;
  border-radius: 6px;
  flex: none;
  order: 0;
  flex-grow: 0;
}